.DS_Store
.idea

# List borrowed from https://github.com/github/gitignore/blob/master/Node.gitignore
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules
